@font-face {
  src: url("./fonts/ShinhanCardText.woff2.ttf");
  font-family: "Shinhan";
}

#bootstrap-overrides .row {
  margin-right: 0;
  margin-left: 0;
}

body {
  font-family: "Shinhan" !important;
}
